body {
  background: linear-gradient(to bottom, #ffffff, #e0e0e0, #a8d5ff, #f9a6ff);
  color: #fcfcfc;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: color 0.3s;
}

header {
  text-align: center;
  padding: 50px 0;
}

.navbar-nav .nav-link:hover {
  color: #1a4196;
  transition: color 0.3s;
}
h1, h2, h3 {
  color: #04d9ff;
  font-weight: bold;
  transition: color 0.3s, font-size 0.3s, background-image 0.3s;
  background-image: linear-gradient(to right, #ff00cc, #3333cc);
  background-clip: text;
  color: transparent;
}
.subtitle {
  font-size: 1.2em;
  color: #808080;
  margin-top: 10px;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.mission, .vision {
  display: flex;
  align-items: center;
}

.mission img, .vision img {
  max-width: 200px;
  margin-right: 20px;
}

.mission .text, .vision .text {
  max-width: 400px;
}

.container {
  margin-top: 20px;
}

.navbar {
  background-color: #161616;
}

.navbar-nav .nav-link {
  color: #04d9ff;
  transition: color 0.3s; /* Transición suave de color de enlace */
}

.navbar-nav .nav-link.active {
  color: #5af158;
}

section {
  border-bottom: 1px solid #404040;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.table {
  color: #04d9ff;
}

.btn-primary {
  background-color: #6a0572;
  border-color: #6a0572;
  font-weight: bold; /* Aumento de grosor */
  transition: background-color 0.3s; /* Transición suave de color de botón */
}

.btn-danger {
  background-color: #ff0000;
  border-color: #ff0000;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-primary:hover, .btn-danger:hover {
  background-color: #4c045e;
  border-color: #4c045e;
}

.form-check-input:checked {
  background-color: #04d9ff;
  border-color: #04d9ff;
}

.form-check-input:checked:hover {
  background-color: #037db5;
  border-color: #037db5;
}

.img-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.img-container img {
  max-width: 45%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s; /* Efecto de transición de imagen */
}

.img-container img:hover {
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

footer {
  background: linear-gradient(to bottom, #024788, #161616);
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer h4 {
  color: #e5e913;
  font-weight: bold;
  transition: color 0.3s;
}

footer p {
  color: #fff;
  font-weight: bold;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  text-decoration: underline;
  color: #04d9ff;
}

footer i {
  margin-right: 5px;
}

footer .col-md-4 {
  margin-top: 10px;
}

footer i.fab,
footer i.far,
footer i.fas {
  font-size: 18px;
  margin-right: 5px;
}

/* Efecto de cambio de color al pasar el mouse en la barra de navegación */
.navbar-nav .nav-link:hover {
  color: #1a4196;
}
