body {
    background-color: #e0f7fa; /* Cyan lighten-5 */
    color: #01579b; /* Blue darken-4 */
}

.container {
    background-color: #ffffff; /* White */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

nav {
    margin-top: 20px;
}

.nav {
    list-style: none;
    padding: 0;
    background-color: #0288d1; /* Light Blue darken-4 */
    border-radius: 5px;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-link {
    display: block;
    padding: 10px;
    color: #ffffff; /* White */
    text-decoration: none;
}

.nav-link:hover {
    background-color: #01579b; /* Blue darken-4 */
}

section {
    margin-top: 20px;
}

.carrito {
    border: 1px solid #01579b; /* Blue darken-4 */
    padding: 10px;
    border-radius: 5px;
}

.btn-info {
    background-color: #01579b; /* Blue darken-4 */
    color: #ffffff; /* White */
    border: none;
}

.btn-info:hover {
    background-color: #002f6c; /* Blue darken-3 */
}

.btn-primary,
.btn-danger {
    background-color: #0288d1; /* Light Blue darken-4 */
    color: #ffffff; /* White */
    border: none;
}

.btn-primary:hover,
.btn-danger:hover {
    background-color: #01579b; /* Blue darken-4 */
}
